In [35]:
import pandas as pd
import os
import math

os.chdir(r'C:\Users\bibo9\Google Drive\Personal DB\Projects\Tech Jam 2019\Repo\Datasource')

In [2]:
data = pd.read_csv('output_transaction.csv')

In [3]:
data.dtypes

custId                   object
locationLongitude       float64
locationCountry          object
merchantCategoryCode    float64
description              object
type                     object
merchantName             object
currencyAmount          float64
locationRegion           object
source                   object
locationCity             object
originationDateTime      object
locationPostalCode       object
customerId               object
merchantId               object
locationLatitude        float64
id                       object
locationStreet           object
accountId                object
categoryTags             object
dtype: object

In [6]:
data.groupby(["categoryTags"]).size()

categoryTags
Auto and Transport      13541
Bills and Utilities     12105
Entertainment            4803
Fees and Charges         1071
Food and Dining        138574
Health and Fitness       1817
Home                     6621
Income                  13404
Mortgage and Rent         721
Shopping                30638
Shopping, Kids           2450
Taxes                    1010
Taxes, Income             344
Transfer                29921
Travel                     71
dtype: int64

In [7]:
pd.options.display.float_format = '${:,.2f}'.format
data.assign(AbsAmount=data.currencyAmount.abs()).groupby(["categoryTags"])['AbsAmount'].agg(['sum'])

                               sum
categoryTags
Auto and Transport     $426,624.32
Bills and Utilities    $972,318.45
Entertainment          $327,838.74
Fees and Charges        $10,175.64
Food and Dining      $2,447,318.82
Health and Fitness      $58,931.31
Home                   $401,434.82
Income              $21,549,047.27
Mortgage and Rent    $1,023,204.00
Shopping             $1,184,839.08
Shopping, Kids         $359,471.62
Taxes                $1,047,071.16
Taxes, Income        $2,802,647.41
Transfer            $21,017,949.35
Travel                  $47,382.11

In [13]:
data1 = data.drop(data[(data.categoryTags == "Taxes")
 | (data.categoryTags == "Taxes, Income")
 | (data.categoryTags == "Transfer")
 | (data.categoryTags == "Income")
 | (data.categoryTags == "Bills and Utilities")
 | (data.categoryTags == "Mortgage and Rent")].index)

In [20]:
data1.originationDateTime.min()

'2019-04-02T00:00:00.001Z'

In [21]:
data1.originationDateTime.max()

'2019-10-23T19:57:00Z'

In [62]:
masks = []
masks.append((data1['originationDateTime'] > '2019-04-02') & (data1['originationDateTime'] <= '2019-05-02'))
masks.append((data1['originationDateTime'] > '2019-04-02') & (data1['originationDateTime'] <= '2019-06-02'))
masks.append((data1['originationDateTime'] > '2019-04-02') & (data1['originationDateTime'] <= '2019-07-02'))
masks.append((data1['originationDateTime'] > '2019-04-02') & (data1['originationDateTime'] <= '2019-08-02'))
masks.append((data1['originationDateTime'] > '2019-04-02') & (data1['originationDateTime'] <= '2019-09-02'))
masks.append((data1['originationDateTime'] > '2019-04-02') & (data1['originationDateTime'] <= '2019-10-02'))

In [63]:
output = []
for mask in masks:
    list_of_cust = data1.loc[mask].T.to_dict().values()
    cnt = 0
    num = 0
    for item in list_of_cust:
        num += math.ceil(math.fabs(item["currencyAmount"])) - math.fabs(item["currencyAmount"])
    avgnum = num / data2['custId'].nunique()
    output.append(avgnum)

In [64]:
print(output)

[12.51304230219175, 26.727920863585652, 39.03283086358617, 52.841043614328626, 66.55871361432825, 78.99807791868288]